In [3]:
# Setup
!pip install --quiet --upgrade pip

# Install the dependencies.
!pip install --quiet -r requirements.txt

# Restart the runtime by ending the process.
exit()

In [94]:
import numpy as np
import pandas as pd
from serving.data import get_labels
from importlib import reload
labels_df = get_labels()

In [95]:
mean_per_county = labels_df.groupby("county_name")["target"].mean()
mean_per_state = labels_df.groupby("state_name")["target"].mean()

print(mean_per_county.head())
print(mean_per_state.head())

print(labels_df.describe())

county_name
ACCOMACK    155.071429
ADA         220.920000
ADAIR       170.050000
ADAMS       149.251724
AIKEN       136.575000
Name: target, dtype: float64
state_name
ALABAMA       139.969737
ARKANSAS      177.167232
CALIFORNIA    177.717241
COLORADO      126.891818
DELAWARE      167.557143
Name: target, dtype: float64
             target
count  10246.000000
mean     157.151464
std       37.482781
min       19.800000
25%      133.900000
50%      162.150000
75%      184.400000
max      270.200000

In [96]:
labels_df.columns

Index(['commodity_desc', 'reference_period_desc', 'year', 'state_name',
       'county_name', 'target', 'source_file'],
      dtype='object')

In [ ]:
.sort_values(by="target", ascending=False).dropna()

In [67]:
df_var = labels_df.groupby(by=["county_name","state_name"]).agg(
    count=('target', 'count'),
    min_value=('target', 'min'),
    max_value=('target', 'max'),
    median=('target', 'median'))
df_var["range"]=df_var["max_value"] - df_var["min_value"]
df_var = df_var.sort_values(by="range", ascending=False)

In [84]:
get_data = df_var.iloc[:100].reset_index()

In [85]:
get_data

   county_name  state_name  count  min_value  max_value  median  range
0       SUTTER  CALIFORNIA      5      133.8      264.1  169.90  130.3
1        FLOYD     GEORGIA      4       86.4      216.7  167.95  130.3
2        MEIGS   TENNESSEE      5       50.0      175.6  150.70  125.6
3      BRADLEY   TENNESSEE      5       50.0      170.0  132.80  120.0
4         HART     GEORGIA      5       72.1      190.7  150.00  118.6
..         ...         ...    ...        ...        ...     ...    ...
95    CALDWELL    KENTUCKY      7      120.4      198.9  173.00   78.5
96     DE KALB    MISSOURI      6       95.6      173.9  156.45   78.3
97        POLK     GEORGIA      3       88.9      167.1  118.50   78.2
98       HENRY   TENNESSEE      7      104.5      182.5  169.30   78.0
99     STANTON    NEBRASKA      6      130.0      208.0  193.80   78.0

[100 rows x 7 columns]

In [88]:
data_to_grab = pd.merge(labels_df, get_data, how="right", on=["county_name", "state_name"])

In [90]:
images_to_grab = data_to_grab[["year", "state_name", "county_name"]]

In [91]:
images_to_grab

     year  state_name county_name
0    2016  CALIFORNIA      SUTTER
1    2018  CALIFORNIA      SUTTER
2    2019  CALIFORNIA      SUTTER
3    2021  CALIFORNIA      SUTTER
4    2022  CALIFORNIA      SUTTER
..    ...         ...         ...
574  2017    NEBRASKA     STANTON
575  2018    NEBRASKA     STANTON
576  2019    NEBRASKA     STANTON
577  2020    NEBRASKA     STANTON
578  2022    NEBRASKA     STANTON

[579 rows x 3 columns]