In [3]:
# Setup
!pip install --quiet --upgrade pip

# Install the dependencies.
!pip install --quiet -r requirements.txt

# Restart the runtime by ending the process.
exit()

In [3]:
import numpy as np
import pandas as pd
from serving.data import get_varied_labels, get_labels
from importlib import reload

In [19]:
df = get_labels()
df["year"] = pd.to_numeric(df["year"])

In [16]:
df_2 = get_varied_labels(150)
df_2.head()

   year state_ansi county_name
0  2016         06      SUTTER
1  2018         06      SUTTER
2  2019         06      SUTTER
3  2021         06      SUTTER
4  2022         06      SUTTER

In [18]:
881*3

2643

In [17]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         881 non-null    object
 1   state_ansi   881 non-null    object
 2   county_name  881 non-null    object
dtypes: object(3)
memory usage: 20.8+ KB

In [98]:
mean_per_county = labels_df.groupby("county_name")["target"].mean()
mean_per_state = labels_df.groupby("state_name")["target"].mean()

print(mean_per_county.head())
print(mean_per_state.head())

print(labels_df.describe())

county_name
ACCOMACK    155.071429
ADA         220.920000
ADAIR       170.050000
ADAMS       149.251724
AIKEN       136.575000
Name: target, dtype: float64
state_name
ALABAMA       139.969737
ARKANSAS      177.167232
CALIFORNIA    177.717241
COLORADO      126.891818
DELAWARE      167.557143
Name: target, dtype: float64
             target
count  10246.000000
mean     157.151464
std       37.482781
min       19.800000
25%      133.900000
50%      162.150000
75%      184.400000
max      270.200000